{{!--title--}}
<div class="container">
  <div class='mt-5 text-center'>
  <img src="/assets/images/burger.jpg" alt="Cool Burger Image">
  </div>
<h1 class='mt-2 text-center mb-4'>Eat-Da-Burgers!</h1>

<p class='mt-2 text-center mb-2 font-weight-bold'>Add a burger to eat later...</p>
<form class="create-form col col-sm-7 col-md-6 col-lg-5 col-xl-4 text-center mx-auto">
<div class="mt-2 input-group mb-4">
  <input type="text" class="form-control" placeholder="Burger name" id="burger" aria-label="Burger Name" aria-describedby="button-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-warning" type="submit" id="button-addon2"> Add </button>
  </div>
</div>
</form>
</div>

<div>
<div class='row justify-content-around'>
  <div class ='col-4 text-centered'>
  <h2>Burgers Waiting to be Eaten!</h2>

  <ul class='list-unstyled'>
    {{#each burgers}}
      {{#unless devoured}}
      <li>
        {{burger_name}}
        <button class="change-devour btn btn-warning btn-sm ml-1" data-id="{{id}}"> Devour it! </button>
      </li>
      {{/unless}}
    {{/each}}
  </ul>
` </div>
  <div class='col-4 text-centered'>
  <h2>Burgers Devoured!</h2>

  <ul class='list-unstyled'>
    {{#each burgers}}
      {{#if devoured}}
      <li>
        {{burger_name}}
      </li>
      {{/if}}
    {{/each}}
  </ul>
  </div>
</div>
</div>
